VITE_FIREBASE_API_KEY=AIzaSyDKYLUNoFuXSedg5lZOm-vJ_yasj2a7uPg
VITE_FIREBASE_AUTH_DOMAIN=otgruzka-tovara.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=otgruzka-tovara
VITE_FIREBASE_STORAGE_BUCKET=otgruzka-tovara.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=21018906173
VITE_FIREBASE_APP_ID=1:21018906173:web:e98617777e79a28c9ba454
