rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return signedIn() &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "admin";
    }

    function isHr() {
      return signedIn() &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "hr";
    }

    match /users/{userId} {
      allow read: if signedIn() && (request.auth.uid == userId || isAdmin());
      allow create: if signedIn() && (request.auth.uid == userId || isAdmin());
      allow update, delete: if isAdmin();
    }

    match /employees/{employeeId} {
      allow read: if signedIn() && (isAdmin() || isHr());
      allow write: if signedIn() && (isAdmin() || isHr());
    }

    match /lots/{lotId} {
      allow read: if signedIn();
      allow write: if signedIn() && (isAdmin());
    }
  }
}
